/* Global styles */
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
	justify-content:center;
}

/* Library container */
.book-library {
    background-color: #ffffff;
	text-align:center;
    justify-content: center;
    padding: 20px;
}

/* Book block */
.book {
    text-align:center;
	margin:10px;
}

.book img {
	text-align:center;
    border-radius: 5px;
	
}

.book h2 {
    font-size: 18px;
    margin: 10px 0 5px;
	text-align: left; 
}

.book p {
    color: #777777;
    margin: 5px 0;
	text-align: left;
}
.price-block {
    color: white;
    text-align: center;
    background-color: rgb(46, 204, 113);
    font-weight: bold;
    margin-top: 10px;
	border-radius:5px;
}
